*{
  margin: 0;
  padding: 0;
}

.header {
  background-image: url('../img/Story4.jpg');
  background-attachment: fixed;
  width: $headerWidth;
  height: $headerHeight;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: $themeFont1;
  font-size: $titleFontSize;
}

.motto {
  h1 {
    color: $themeColor1;
    padding-left: 3%;

  }

}

i {
  color: $themeColor1;
  size: $fontAwesomeIconSize;
}

.qoute {
  font-family: $themeFont2;
  font-size: $qouteSize;
  padding-left: 3%;

}

.info {
  height: $infoSectionHeight;
}

.gray {
    background: $infoSectionBackgroundColor;
    padding: $infoSectionPadding;
}

.card {
  display: inline-block;
  position: relative;
  margin-bottom: $cardMarginBottom;
  border-radius: $cardnImgBorderRadius;
  color: #000000dc;
  background: #fff;
  box-shadow: $backgroundCardShadowing;

  .image {
    position: relative;
    overflow: hidden;
    margin-left: $imageClassMargin;
    margin-right: $imageClassMargin;
    margin-top: $cardMarginBottom * -1;
    border-radius: $cardnImgBorderRadius;
    box-shadow: $imageCardShadowing;

    img {
      width: $infoImageWidth;
      height: $infoImageHeight;
      border-radius: $cardnImgBorderRadius;
    }
  }
}

.card-caption {
  font-weight: $captionFontWeight;
  font-family: $themeFont1;
  font-size: $captionFontSize;
  a {
    color: $themeColor2;
    text-decoration: none;
  }
}

.text-danger {
  color:  $brighterTextDanger;
}

.text-success {
  color: $brighterTextSuccess;
}

.text-info {
  color: $brighterTextInfo;
}

h2 {
  font-size: 4em;
  padding-left: 45%;
}
