$headerWidth: 100%;
$headerHeight: 100vh;
$titleFontSize: 13em;
$themeFont1: 'Amatic SC', cursive;
$themeColor1: #ffffff;
$fontAwesomeIconSize: 5em;
$themeFont2: 'Cedarville Cursive', cursive;
$qouteSize: 2em;
$infoSectionHeight: 720px;
$infoSectionBackgroundColor: #E5E5E5;
$infoSectionPadding: 60px 0 30px 0;
$backgroundCardShadowing: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
$imageCardShadowing: 0 16px 38px -12px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
$infoImageWidth: 100%;
$infoImageHeight: 100%;
$cardnImgBorderRadius: 6px;
$cardMarginBottom: 30px;
$imageClassMargin: 15px;
$themeColor2: #436480;
$brighterTextDanger: #f44336;
$brighterTextSuccess: #4caf50;
$brighterTextInfo: #00bcd4;
$captionFontWeight: 700;
$captionFontSize: 2em;
