
<section>
    <!-- <img class='image' src='/img/Story4.jpg'> -->
    <aside class='motto'>
      <h1>Helping Hands</h1>
        <blockqoute> - Because everyone could use a hand-up</blockqoute>
    <aside>

    <h1><i class='fa fa-hand-o-down' aria-hidden='true'></i><h1>

</section>

<main>

  <aside>
    <h3>Mission Statment</h3>
    <p>The Helping Hands mission is to provide a centralized home where users can find
       the help they need which they not come across with the average google search. Using our map feature choose
        the resource you need to view locations across Washington, D.C. which can provide the help needed. Click any
         marker to view that locations details and description.</p>
  </aside>
  <aside>
    <h3>Find</h3>
    <h3><i class="fa fa-globe" aria-hidden="true"></i></h3>
    <h3>"Helping Hands"</h3>
  </aside>
  <aside>
    <h3>Contact Us</h3>
    <h3><i class="fa fa-envelope" aria-hidden="true"></i></h3>
    <p>Have a question or information on a helping not referenced here? Please fell free to contact us and let us know
       what we can do to help</p>
  </aside>

</main>


  <!-- <form novalidate class='addressInput' name='address' ng-submit='address.$valid && AddressController.addAddress(AddressController.addressToAdd)'>
  <fieldset>
    <legend>Please Input Address</legend>
      <section><label class='field' for='Street Address'>Street Address </label><input type='text' name='Street Address' class='form-control input-sm chat-input' ng-model='AddressController.addressToAdd.street'></section>
      <section><label class='field' for='City'>City</label><input type='text' name='City' class='form-control input-sm chat-input' ng-model='AddressController.addressToAdd.city'></section>
      <section><label class='field' for='State'>State </label><input type='text' name='State' class='form-control input-sm chat-input' ng-model='AddressController.addressToAdd.state'></section>
      <section><label class='field' for='zip-code'>Zip Code</label><input type='text' name='zip' id='zip-code' class='form-control input-sm chat-input' required ng-model='AddressController.addressToAdd.zip'>
        <p ng-show='!address.zip.$valid'>Please enter a Zip Code!</p>
      </section>
      <input class='btn btn-primary btn-md' type='submit' name='submit' value='Submit'>
  </fieldset>

</form> -->
